//Typography
$base-font-family: "Roboto", $helvetica;
$heading-font-family: "Helvetica Neue", $helvetica;

$background-white: #fff;

// Font Sizes
$base-font-size: 0.9em;
$h1-font-size: 1.8em;
$h2-font-size: 1.6em;
$h3-font-size: 1.4em;
$h4-font-size: 1em;
$h5-font-size: 0.7em;
$h6-font-size: 0.5em;

// Line Height
$heading-line-height: 1.2;

// Colors
$dark-gray: #444;
$light-gray: #999;
$medium-gray: #454547;
